In [1]:
import sqlite3
db=sqlite3.connect('test.db')
try:        
    cur =db.cursor()
    cur.execute('''CREATE TABLE student (
    StudentID INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT (20) NOT NULL,
    age INTEGER,
    marks REAL);''')
    print ('table created successfully')
except:
    print ('error in operation')
    db.rollback()
db.close()

table created successfully

In [2]:
import sqlite3
db=sqlite3.connect('test.db')
qry="insert into student (name, age, marks) values('sanu', 20, 50);"
try:
    cur=db.cursor()
    cur.execute(qry)
    db.commit()
    print ("one record added successfully")
except:
    print ("error in operation")
    db.rollback()
db.close()

one record added successfully

ADDING MANY RECORDS:

In [3]:
import sqlite3
db=sqlite3.connect('test.db')
qry="insert into student (name, age, marks) values(?,?,?);"
students=[('ayaan', 18, 70), ('minu', 25, 87)]
try:
    cur=db.cursor()
    cur.executemany(qry, students)
    db.commit()
    print ("records added successfully")
except:
    print ("error in operation")
    db.rollback()
db.close()

records added successfully

FETCH RECORD:

In [4]:
import sqlite3
db=sqlite3.connect('test.db')
sql="SELECT * from student;"
cur=db.cursor()
cur.execute(sql)
while True:
    record=cur.fetchone()
    if record==None:
        break
    print (record)
db.close()

(1, 'sanu', 20, 50.0)
(2, 'ayaan', 18, 70.0)
(3, 'minu', 25, 87.0)

UPDATE:

In [5]:
import sqlite3
db=sqlite3.connect('test.db')
qry="update student set age=? where name=?;"
try:
    cur=db.cursor()
    cur.execute(qry, (19,'sanu'))
    db.commit()
    print("record updated successfully")
except:
    print("error in operation")
    db.rollback()
db.close()

record updated successfully

In [9]:
import sqlite3
db=sqlite3.connect('test.db')
sql="SELECT * from student;"
cur=db.cursor()
cur.execute(sql)
while True:
    record=cur.fetchone()
    if record==None:
        break
    print (record)
db.close()

(1, 'sanu', 19, 50.0)
(2, 'ayaan', 18, 70.0)
(3, 'minu', 25, 87.0)

DELETE RECORD:

In [10]:
import sqlite3
db = sqlite3.connect('test.db')
qry = "DELETE from student where name ='ayaan';"
try:
    cur = db.cursor()
    cur.execute(qry)
    db.commit()
    print("record deleted")
except:
    print("error")
    db.rollback()
db.close()

record deleted

In [11]:
import sqlite3
db=sqlite3.connect('test.db')
sql="SELECT * from student;"
cur=db.cursor()
cur.execute(sql)
while True:
    record=cur.fetchone()
    if record==None:
        break
    print (record)
db.close()

(1, 'sanu', 19, 50.0)
(3, 'minu', 25, 87.0)